<div class = "container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <div class="creature_home_bkgrnd">
      <h1>Creatures Galore!</h1>
        <p>Come one, come all! Find all the creatures of our Bog Land. This is the place to create, find, add and edit the bog creatures.</p>
        <p>If you want to see <%= link_to 'all the Creatures', controller: 'creatures'%> in our Bog Land just click the link!</p>
      </div>
    </div>
  </div>
</div>
